asgiref==3.8.1
beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
Django==5.2.1
gensim==4.3.3
idna==3.10
joblib==1.5.1
nltk==3.9.1
numpy==1.26.4
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2024.11.6
requests==2.32.3
scikit-learn==1.6.1
scipy==1.13.1
six==1.17.0
smart-open==7.1.0
soupsieve==2.7
sqlparse==0.5.3
threadpoolctl==3.6.0
tqdm==4.67.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
wrapt==1.17.2
